// Fonts
$font-stack: 'Open Sans', 'Helvetica','Sans-Serif';

// Dimentions
$phone: 414px;
$tablet: 768px;
$desktop: 992px;
$ultrawide: 1200px;

.btn {
  font-size: 20px;
  float: left;
  margin: 10px;
  display: inline-block;
  border-radius: 10px;
  background-color: maroon;
  color: white;
  width: 200px;
  padding: 1.5em 0;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 0px 0px rgba(143,143,143,1);
  &:hover {
    background-color: rgb(96, 0, 0);
    box-shadow: 0px 2px 15px 1px rgba(143,143,143,1);
  }
  @media (max-width: $phone) {
    width: 100%;
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 20px;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  margin: 1em;
  padding: 0;
  @media (max-width: $phone) {
    margin:0;
  }
}

header {
  a {
    text-decoration: none;
    h1 {
      text-align: center;
      color: black;
    }
  }
  nav {
    width: 100%;
    ul {
      background-color: maroon;
      border-radius: 10px;
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        a {
          color: white;
          display: block;
          padding: 1em;
          text-align: center;

          &:hover {
            background-color: rgb(96, 0, 0);
          }
        }
      }
    }
    @media (max-width: $phone) {
      ul {
        border-radius: 0px;
        li {
          border-left: 1px solid white;
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 33%;
          height: 4em;
          a {
            padding: 0.5em;
          }
          &:first-child {
            border-left: none;
            display: none;

          }
          &:second-child {
            border-left: none;
          }
        }
      }
    }
  }
}

main {
  margin: 0 10%;
  padding-bottom: 1em;
  section {
    margin: 0 auto;
    article {
      text-align: center;
    }
  }
  @media (max-width: $phone) {
    margin: 0 1em;;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  td, th {
    padding: 1em;
    text-align: left;
    border: 1px solid #dddddd;
    @media (max-width: $phone) {
      padding: 0;
      padding: 5px;
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: #FFF;
      }
      &:nth-child(odd) {
        background-color: #CCC;
      }
    }
  }
}

footer {
  clear: left;
  padding: 1em;
  text-align: center;
  a {
    color: black;
    margin: 0 1em;
    text-decoration: none;
  }
}
