extends layout

block content
	h2 Admin Page
	table 
		thread
			tr: th: p Order ID
				th: p Order Due Date
				th: p Paid For
				th: p Order Completed
				th: p Picked Up
		tbody
			each order in cakeOrders
				tr
					td order.orderID
					td order.orderDate
					td order.paidFor
					td order.completed
					td order.pickedUp
