extends layout

block content
  h1 Cake Order Form
  form(method="post", action="/api/users")
    fieldset
      legend User Information
      p
        label(for="name") Name:
        input(type="text", name="name")
      p
        label(for="email") Email:
        input(type="email", name="email")
      p
        label(for="phone") Phone:
        input(type="tel", name="phone")
    fieldset
      legend Cake Information
      p
        label(for="type") Type:
        select(name="type")
          option(value="Basic") Basic
          option(value="Premium") Premium
      p
        label(for="size") Size:
        select(name="size")
          each size in sizes
            option(value= size.name) #{size.display_name} - $#{size.price}
      p
        label(for="fillings") Fillings:
        each filling in fillings
          br
          input(type="checkbox", name="filling", value= filling.name)
          | #{filling.name} - $#{filling.price}
      p
        label(for="art_description") Art:
      p
        textarea(name="art_description" rows="6" cols="40" placeholder="How would you like it to look?")
      p
        label(for="colors") Colors:
        input(type="", name="color_one")
        input(type="", name="color_two")
      p
        label(for="writing") Writing:
        input(type="", name="writing")
      p
        label(for="writing_color") Writing Color:
        input(type="", name="writing_color")
    fieldset
      legend Order Information
      p
        label(for="pickup") Pickup Time:
        input(type="datetime-local", name="pickup", min= pickup, value= pickup.toLocaleDateString())
      p
        label(for="instructions") Instructions:
      p
        textarea(name="instructions" rows="6" cols="40" placeholder="Any special instructions")
    p
      input(type="submit")
