extends layout

block content
  h1 Cake Order Form
  form(method="post", action="/api/users")
    fieldset
      legend User Information
      p
        label(for="name") Name:
        input(type="text", name="name")
      p
        label(for="email") Email:
        input(type="email", name="email")
      p
        label(for="phone") Phone:
        input(type="tel", name="phone")
      p
        input(type="submit")
