<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Ferris Acres - Cake Order Form</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <!-- <script type="text/javascript" src="js/vue.js"></script> -->
  <!-- <script type="text/javascript" src="js/form.js"></script> -->


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h1>Ferris Acres Ice Cream Cake Ordering Form</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="six columns" style="margin-top: 5%">
          <label for="firstNameInput">First Name</label>
          <input class="u-full-width" type="text" id="firstName">
        </div>
        <div class="six columns" style="margin-top: 5%">
          <label for="lastNameInput">Last Name</label>
          <input class="u-full-width" type="text" id="lastName">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 0%">
          <label for="phoneNumberInput">Phone Number</label>
          <input class="u-full-width" type="tel" id="phoneNumber">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 0%">
          <label for="emailInput">Email</label>
          <input class="u-full-width" type="text" placeholder="example@ferrisacres.com" id="email">
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 0%">
          <label for="pickUpDate">Pick up Date</label>
          <input class="u-full-width" type="text" placeholder="Ex. 11/15/16" id="pickUpDate">
        </div>
        <div class="six columns" style="margin-top: 0%">
          <label for="pickUpTime">Pick up Time</label>
          <input class="u-full-width" type="text" placeholder="Between 10 am and 3 pm" id="pickUpTime">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 5%">
          <h4>Type of Cake:</h4>
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 0%">
          <label for="basicCake">Basic Cake</br><h6>Vanilla and chocolate cake with crunch filling</h6></label>
          <select class="u-full-width" type="text" id="basic">
            <option value="Option 1">$14.50 - 6" Round (Feeds 4-6)</option>
            <option value="Option 2">$20.00 - 8" Round (Feeds 8-10)</option>
            <option value="Option 3">$27.00 - 10" Round (Feeds 12-15)</option>
            <option value="Option 4">$37.00 - 1/4 Sheet (Feeds 20-24)</option>
            <option value="Option 5">$15.50 - Heart Shaped (Feeds 8-10)</option>
          </select>
        </div>
        <div class="six columns" style="margin-top: 0%">
          <label for="premiumCake">Premium Cake</br><h6>72 hrs notice required, choose 2 flavors</h6></label>
          <select class="u-full-width" type="text" id="premium">
            <option value="Option 1">$14.50 - 6" Round (Feeds 4-6)</option>
            <option value="Option 2">$20.00 - 8" Round (Feeds 8-10)</option>
            <option value="Option 3">$27.00 - 10" Round (Feeds 12-15)</option>
            <option value="Option 4">$37.00 - 1/4 Sheet (Feeds 20-24)</option>
            <option value="Option 5">$15.50 - Heart Shaped (Feeds 8-10)</option>
          </select>
          <label for="pickUpDate">Flavor 1</label>
          <input class="u-full-width" type="text" id="pickUpDate">
          <label for="pickUpDate">Flavor 2</label>
          <input class="u-full-width" type="text" id="pickUpDate">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 5%">
          <h4>Decorations:</h4>
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 0%">
          <label for="exampleMessage">Fillings:</label>
          <input type="checkbox">
          <span class="label-body">$0.00 - Cake Crunch</span></br>
          <input type="checkbox">
          <span class="label-body">$2.00 - Oreos</span></br>
          <input type="checkbox">
          <span class="label-body">$2.00 - Chocolate Chunks</span></br>
          <input type="checkbox">
          <span class="label-body">$2.00 - Fudge</span></br>
          <input type="checkbox">
          <span class="label-body">$2.00 - Mini Chips</span></br>
          <input type="checkbox">
          <span class="label-body">$3.00 - PB cups</span></br>
          <input type="checkbox">
          <span class="label-body">$3.00 - Nut Filling</span></br>
        </div>
        <div class="six columns" style="margin-top: 0%">
          <label for="premiumCake">Special Decorating</br><h6>Detailed decorating (i.e. Disney, vehicles, animals)</h6></label>
          <select class="u-full-width" type="text" id="premium">
            <option value="Option 1">None</option>
            <option value="Option 2">$5.00 - 15 minutes</option>
            <option value="Option 3">$10.00 - 30 minutes</option>
          </select>
          <label for="exampleMessage">Additional Details:</label>
          <textarea class="u-full-width" placeholder="Add detailed instructions" id="instructions"></textarea>
          <label class="instructions">
          </label>
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 2%">
          <label for="exampleMessage">Writing:</label>
          <textarea class="u-full-width" placeholder="Add a message (i.e. Happy Birthday!)" id="message"></textarea>
          <label class="instructions">
          </label>
          <label for="premiumCake">Recipient Gender</label>
          <select class="u-full-width" type="text" id="gender">
            <option value="Option 1">Male</option>
            <option value="Option 2">Female</option>
          </select>
          <label for="pickUpDate">Color of Writing</label>
          <input class="u-full-width" type="text" placeholder="Choose 1 color" id="writingColor">

        </div>
        <div class="six columns" style="margin-top: 2%">
          <label for="exampleMessage">Decorating Colors:</br><h6>Pick Two</h6></label>
          <input type="checkbox">
          <span class="label-body">Red</span></br>
          <input type="checkbox">
          <span class="label-body">Orange</span></br>
          <input type="checkbox">
          <span class="label-body">Royal Blue</span></br>
          <input type="checkbox">
          <span class="label-body">Sky Blue</span></br>
          <input type="checkbox">
          <span class="label-body">Purple</span></br>
          <input type="checkbox">
          <span class="label-body">Teal</span></br>
          <input type="checkbox">
          <span class="label-body">Dark Green</span></br>
          <input type="checkbox">
          <span class="label-body">Lime Green</span></br>
          <input type="checkbox">
          <span class="label-body">Pastel Pink</span></br>
          <input type="checkbox">
          <span class="label-body">Hot Pink</span></br>
          <input type="checkbox">
          <span class="label-body">Yellow</span></br>
          <input type="checkbox">
          <span class="label-body">Black</span></br>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 5%">
          <label for="exampleMessage">Anything else we sould know?</label>
          <textarea class="u-full-width" placeholder="Please include any special instructions here!" id="specialInstructions"></textarea>
          <label class="instructions">
          </label>
          <input class="button-primary" type="submit" value="Thank You!">
        </div>
      </div>


    </form>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
