extends layout

block content
  h2 Ice Cream Ordering Form
  form(method="post", action="/api/icecreams")
    div(id='orderForm' class='form-group')
      div(class='row')
        div(class='col-md-4')
          label(for='size') Size
          select(name='size' class='form-control')
            each size in sizes
              option(value= size.name) #{size.name}

        div(class='col-md-4')
          label(for='flavor') Flavor
          select(name='flavor' class='form-control')
            each flavor in flavors
              option(value= flavor.name) #{flavor.name}

        div(class='col-md-4')
          label(for='quantity') Quantity
          input(type='number' name='quantity' value='1' min='1' class='form-control')
    div(class='form-group')
      //- button(class='btn btn-default' id='addFlavor') Add another Flavor
    button(class='btn btn-primary' type='submit') Add to cart
  script(src='javascripts/ice_cream.js')
