extends layout

block content

  div(class='row')
    div(class='col-sm-6 col-sm-offset-3')
      div(class='col-xs-6')
        a(href="/cake" class='btn btn-primary btn-lg' role='button') Order Cake
      div(class='col-xs-6')
        a(href="/icecream" class='btn btn-primary btn-lg' role='button') Order Ice Cream
  br
  div(class='row')
    form(action='/order' method='get' class='col-sm-6 col-sm-offset-3')
      div(class='input-group')
        input(type='text' name='orderid' class='form-control' placeholder='Order Number')
        span(class='input-group-btn')
          button(class='btn btn-default') Lookup
