extends layout

block content
  main
    section
      p
        a(href="/order", class="button") Order Cake
      p
        a(href="", class="button") Order Pint
  footer
    a(href="") Log In
    a(href="") Contact
    a(href="") About
