extends layout

block content
  h1= title
  section
    p
      a(href="/order", class="button") Order Cake
    p
      a(href="", class="button") Order Pint
  footer
    p
      a(href="") Admin View
    h1= test
