extends layout

block content
  section
    a(href="/cake", class="btn") Order Cake
    a(href="/icecream", class="btn") Order Ice Cream
  section
    form(action='/order' method='GET')
      article
        input(type="text" name="orderid" placeholder="Order #")
        input(type="submit" value="Lookup Order")
