extends layout

block content
  section
    p
      a(href="/cake", class="button") Order Cake
    p
      a(href="/icecream", class="button") Order Ice Cream
    p.lookup
      label(for="lookup") Lookup Order 
      input(type="text", name="order_id")
      input(type="submit" value="Lookup")
    h3= message
