extends layout

block content
  section
    a(href="/cake", class="btn") Order Cake
    a(href="/icecream", class="btn") Order Ice Cream
  section
    form(action='/order' method='GET')
      p
        label(for="lookup") Lookup Order:
        input(type="text", name="orderid")
        input(type="submit" value="Lookup")
