doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href= bootstrap)
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    nav.navbar.navbar-light.bg-faded
      a.navbar-brand(href='#') Ferris Acres Creamery
      ul.nav.navbar-nav
        li.nav-item.active
          a.nav-link(href='#') Home
        li.nav-item
          a.nav-link(href='/order') Order a Cake
        li.nav-item
          a.nav-link(href='pint.html') Order a Pint
        li.nav-item
          a.nav-link(href='quart.html') Order a Quart
        li.nav-item
          a.nav-link(href='cart.html') Cart
    block content
