extends layout

block content
  main
    section
    .container
         br
         h1 Pint Ordering Form
         br
         .form-group.row
           label.col-sm-6.col-form-label(for='pint-flavor') Available Flavors
         .form-group.row
           .col-sm-6
             select#pint-flavor.form-control
               option(value='Option 1') Vanilla
               option(value='Option 2') Chocolate
               option(value='Option 3') Mint
               option(value='Option 4') Strawberry
               option(value='Option 5') Coffee
         .form-group.row
           .col-sm-12.col-form-label
             label.col-sm-2(for='example-number-input') Quantity
             .col-sm-2S
               input#example-number-input.form-control(type='number', value='0')
       button.btn.btn-secondary(type='button', onclick="addInput('dynamicInput');") Add another Flavor
       .form-group.row
         .col-sm-2.col-form-label
           button.btn.btn-primary(type='submit') Add to Cart
  footer
    a(href="") Log In
    a(href="") Contact
    a(href="") About
