extends layout

block content
  h2 Ice Cream Ordering Form
  form(method="post", action="/api/orders")
    fieldset
    p
      label(for='icecream-size') Choose a size:
        option(value='0') -- Choose a Size --
        option(value='pint') Pint
        option(value='quart') Quart
    p
      label(for='flavor') Available Flavors
        option(value='0') -- Choose a Flavor --
        option(value='Option 1') Vanilla
        option(value='Option 2') Chocolate
        option(value='Option 3') Mint
        option(value='Option 4') Strawberry
        option(value='Option 5') Coffee
    p
      label(for='quantity') Quantity
        input(type='number', value='0')
        button.btn.btn-secondary(type='button', onclick="addInput('dynamicInput');") Add another Flavor
  p
    input(type='submit')
