<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Ferris Acres - Cake Order Form</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <script src="https://unpkg.com/vue/dist/vue.js"></script> -->
  <!-- <script type="text/javascript" src="js/vue.js"></script> -->
  <!-- <script type="text/javascript" src="js/form.js"></script> -->


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve columns" style="margin-top: 5%">
        <h1>Ferris Acres Pint Ordering Form</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="six columns" style="margin-top: 5%">
          <label for="firstNameInput">First Name</label>
          <input class="u-full-width" type="text" id="firstName">
        </div>
        <div class="six columns" style="margin-top: 5%">
          <label for="lastNameInput">Last Name</label>
          <input class="u-full-width" type="text" id="lastName">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 0%">
          <label for="phoneNumberInput">Phone Number</label>
          <input class="u-full-width" type="tel" id="phoneNumber">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 0%">
          <label for="emailInput">Email</label>
          <input class="u-full-width" type="text" placeholder="example@ferrisacres.com" id="email">
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 0%">
          <label for="pickUpDate">Pick up Date</label>
          <input class="u-full-width" type="text" placeholder="Ex. 11/15/16" id="pickUpDate">
        </div>
        <div class="six columns" style="margin-top: 0%">
          <label for="pickUpTime">Pick up Time</label>
          <input class="u-full-width" type="text" placeholder="Between 10 am and 3 pm" id="pickUpTime">
        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 5%">
          <h4>Choose your Flavors:</h4>
        </div>
      </div>

      <div class="row">
        <div class="six columns" style="margin-top: 0%">
          <label for="basicCake">Available Flavors:</label>
          <select class="u-full-width" type="text" id="pintFlavor">
            <option value="Option 1">Vanilla</option>
            <option value="Option 2">Chocolate</option>
            <option value="Option 3">Mint</option>
            <option value="Option 4">Strawberry</option>
            <option value="Option 5">Coffee</option>
          </select>
          <label for="pickUpDate">Quantity</label>
          <input class="u-full-width" type="number" id="pintQuant">
        </div>
        <div class="six columns" style="margin-top: 0%">
          <label for="premiumCake">Available Flavors:</label>
          <select class="u-full-width" type="text" id="pintFlavor">
            <option value="Option 1">Vanilla</option>
            <option value="Option 2">Chocolate</option>
            <option value="Option 3">Mint</option>
            <option value="Option 4">Strawberry</option>
            <option value="Option 5">Coffee</option>
          </select>
          <label for="pickUpDate">Quantity</label>
          <input class="u-full-width" type="number" id="pintQuant">

        </div>
      </div>

      <div class="row">
        <div class="twelve columns" style="margin-top: 5%">
          <label for="exampleMessage">Anything else we sould know?</label>
          <textarea class="u-full-width" placeholder="Please include any special instructions here!" id="instructions"></textarea>
          <label class="instructions">
          </label>
          <input class="button-primary" type="submit" value="Thank You!">
        </div>
      </div>


    </form>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
